
html {
    font-size: 14px
}

header {
    height: 40px;
    background-size: 120px
}

@media only screen and (max-device-width: 480px) {
    html {
        font-size: 16px
    }

    header {
        height: 60px;
        background-size: 150px
    }

    header .logo {
        height: 60px;
        background-size: 150px
    }
}

@media only screen and (min-device-width: 1224px) {
    html {
        font-size: 16px
    }

    header {
        height: 40px;
        background-size: 120px
    }

    header .logo {
        height: 40px;
        background-size: 120px
    }
}

html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    line-height: 1.25
}

body {
    font-family: 'ProximaNova', 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #f7f9fb;
    color: #333333;
    margin: 0;
    padding: 0
}

.learn-more {
    text-align: center;
    color: #ccc;
    font-size: 0.6rem
}

p {
    font-family: 'ProximaNova', 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.6rem;
    margin: 20px 0 20px 0;
    color: #333333;
    text-align: center
}

header {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    background-position: 20px;
    background-color: #3778c2;
    position: relative
}

header .logo {
    width: 80%;
    margin: 0 auto;
    background-image: url(../images/qr/titlebar_logo.png);
    background-repeat: no-repeat;
    background-position: 0 center
}

h2 {
    color: #3778c2;
    font-family: 'ProximaNova', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 10px 0
}

.content {
    min-height: 220px;
    margin: 35px auto;
    width: 80%
}

.or {
    text-align: center;
    overflow: visible;
    margin: 5px 0 5px 0;
    background: #f7f9fb;
    font-size: 0.8rem;
    color: #3778c2;
    text-transform: lowercase
}

.verify-device.content {
    width: 80%;
    margin: 50px auto
}

.verify-device a {
    font-size: 0.8rem
}

.verify-device #verify-message {
    font-size: 1em;
    margin: 20px 0 50px 0
}


button:active {
    background-color: #2f68a8;
    border: 4px solid #2f68a8
}

footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    margin: 0;
    left: 0
}

.banner {
    padding-top: 45vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center
}

.banner:not(.p2p) {
    background-image: url(../images/qr/logo.png)
}

.p2p.banner {
    margin-top: 20px;
    background-image: url(../images/qr/p2p.png)
}

.launch-link {
    text-align: center;
    margin: 0
}

.launch-link a {
    line-height: 40px;
    text-decoration: underline;
    text-align: center;
    display: inline-block
}

header.unknown-platform {
    min-width: 700px
}

header.unknown-platform .logo {
    width: 650px
}

div.unknown-platform {
    min-width: 700px
}

.unknown-platform h2 {
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 1.6rem;
    margin-left: 0
}

.unknown-platform img {
    display: block
}

.unknown-platform p {
    text-align: left;
    font-size: 1rem
}

.unknown-platform a {
    color: #333333;
    font-size: 0.9rem
}

.unknown-platform #icon {
    margin: 20px 20px 10px 20px;
    width: 60px
}

.unknown-platform #payment-id {
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 1rem
}

.unknown-platform #payment-description {
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 1rem
}

.unknown-platform #payment-amount {
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    margin-top: 14px;
    font-size: 1.4rem;
    position: absolute;
    margin: 0 20px;
    bottom: 30px;
    left: 0
}

.unknown-platform #payment-amount strong {
    font-size: 1rem
}

.unknown-platform .content {
    text-align: center;
    min-height: 220px;
    width: 650px;
    margin: 0 auto
}

.unknown-platform .content.p2p {
    margin-top: 50px
}

.unknown-platform .content.p2p p {
    text-align: center;
    font-size: 85%
}

.unknown-platform .qr-card {
    border: 1px solid #ced8de;
    border-radius: 3px;
    min-height: 196px;
    margin-left: 200px;
    position: relative;
    background: #fff
}

.unknown-platform .qr-card #message {
    position: absolute;
    bottom: 0;
    width: 100%
}

.unknown-platform .indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #3778c2
}

.unknown-platform .indicator.success {
    background-color: #26b875;
    transition: background-color 0.4s ease
}

.unknown-platform .float-left {
    float: left
}

.unknown-platform .float-left h2 {
    padding-top: 20px;
    padding-left: 20px
}

.unknown-platform .extras {
    padding-bottom: 55px
}

#snapscan-widget-wrapper {
    position: absolute
}

#snapscan-checkout-qr {
    float: left;
    position: relative;
    width: 190px;
    height: 196px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ced8de;
    border-radius: 3px
}

#snapscan-qr-loading {
    position: absolute;
    width: 100%;
    line-height: 166px;
    text-align: center;
    color: #333333;
    font-size: 16px;
    z-index: 1
}

#snapscan-qr-image {
    position: relative;
    z-index: 2;
    top: 20px;
    height: 150px;
    width: 150px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff
}

#snapscan-qr-caption {
    position: absolute;
    bottom: 0px;
    width: 190px;
    height: 6px;
    background-color: #3778c2
}

#snapscan-checkout-qr.success #snapscan-qr-image #snapscan-qr-loading {
    display: none
}

@-webkit-keyframes flipInX {
    5% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        height: 196px
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 3deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 3deg)
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -2deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -2deg)
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        height: 196px
    }
}

@keyframes flipInX {
    5% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        height: 196px
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 3deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 3deg)
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -2deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -2deg)
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        height: 196px;
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background-color: #26b875;
        transition: background-color 0.4s ease
    }
}

#snapscan-checkout-qr.success #snapscan-qr-caption {
    background-color: #26b875;
    font-size: 1.2rem;
    color: #fff;
    line-height: 200px;
    overflow: hidden;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: #26b875;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease
}
